node_modules
backend/node_modules
dist
backend/dist
frontend/node_modules
frontend/dist
frontend/.next
backend/.next
.next
backend/.cache
frontend/.cache
node_modules
*.sqlite
*.db
*.tgz
*.zip
*.tar
*.7z
*.bak
*.tmp
*.tsbuildinfo
*.log
.git
.gitignore
Dockerfile*
.env*
.vscode
.vercel
*.local

